body{
    background-color: #222;
}

#textScene{
    position: absolute;
    top:12%;
    left:0%;
    width: 100%;
    text-align: center;
    color: white;
}

#about{
    position: absolute;
    top:25%;
    left:0%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
}

.img{
    position: absolute;
    width: 30%;
    top: 45%;
    left: 35%;
}

