<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>He Had It Coming</title>
        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="navbar.css">
        <link rel="stylesheet" href="addFriend.css">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;700&display=swap" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
       
          
    </head>
    <body>
        <nav>
            <div class="navigation" role="navigation">
                <div class="nav-bar">
                    <div class="logo">
                        <a href="/">
                            <img src="https://trello-attachments.s3.amazonaws.com/5f2c1168158328657acdac84/600x455/918f66ca1794cf220b2ceb9d14aa863b/logo.png" width="100" style="display: inline-block; ">
                        </a>
                    </div>
                    <ul>
                        <li><a href="about.html">About Us</a></li>
    
                        <li><a href="login.html">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="textScene">
            <h1>Do you want to add a friend?</h1>
        </div>
        
        <input id="FirstNameTextBox" placeholder="First Name">
        <input id="LastNameTextBox" placeholder="Last Name">
        <input id="EmailTextBox" placeholder="Email">
        <input id="PhoneTextBox" placeholder="Mobile Phone">

        <a href="jobDone.html"><button class="buttonSubmit" onclick="alert('Submitted a friend')">Submit Friend</button></a>
        <a href="jobDone.html"><button class="buttonNoFriend">I don't want to add a friend</button></button></a>
        

    </body>
</html>