<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>He Had It Coming</title>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="homepage.css">   
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="navbar">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <nav>
        <div class="navigation" role="navigation">
            <div class="nav-bar">
                <div class="logo">
                        <img src="https://trello-attachments.s3.amazonaws.com/5f2c1168158328657acdac84/600x455/918f66ca1794cf220b2ceb9d14aa863b/logo.png" width="100" style="display: inline-block; ">
                </div>
             
                <ul>
                    <li><a href="#">About Us</a></li>

                    <li><a href="#">Contacts</a></li>

                    <li><a href="#">Goals</a></li>

                    <li><a href="login.html">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <video autoplay loop style="width: 110%; height:102%; position: absolute;">
        <source src="https://trello-attachments.s3.amazonaws.com/5f2c1145c90dd589ca5a6ee6/5f2c117ef43f842f2ea3ab29/fad9cf54dd73f39090ce0463e54a15fb/homepage.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
        <div id="text">
            <p>Have <span style="text-decoration: underline;">you</span> had enough?!</p><br>
            <p>We have the solution!</p><br>
            <p>Get rid of it and live a lifetime experience!</p><br>
        </div>

        <a th:href="@{/shop.html}" > <button class="button">He Had it Coming...</button></a>
</body>

</html>