<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>He Had It Coming</title>
        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="navbar.css">
        <link rel="stylesheet" href="motives.css">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="navbar">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          
    </head>
    <body>
        <nav>
            <div class="navigation" role="navigation">
                <div class="nav-bar">
                    <div class="logo">
                        <a href="index.html">
                            <img src="resources/logo.png" width="100" style="display: inline-block; ">
                        </a>
                    </div>
                    <ul>
                        <li><a href="#">About Us</a></li>
    
                        <li><a href="#">Contacts</a></li>
    
                        <li><a href="#">Goals</a></li>
    
                        <li><a href="login.html">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="textScene">
            <h1>Why you want your husband to be killed?</h1>
        </div>
        <div id="motives">
            <input type="checkbox" id="motive1" name="vehicle1" value="Bike">
            <label for="motive1" class="motivesopt"> He’s popping gum next to me like an UZI!</label><br><br>
            <input type="checkbox" id="motive2" name="vehicle1" value="Bike">
            <label for="motive2" class="motivesopt"> He doesn’t let me have my hobbies…</label><br><br>
            <input type="checkbox" id="motive3" name="vehicle1" value="Bike">
            <label for="motive3" class="motivesopt"> Cheating on me recursively!</label><br><br>
            <input type="checkbox" id="motive4" name="vehicle1" value="Bike">
            <label for="motive4" class="motivesopt"> Lies, lies and more lies...  I wonder if truth is even a thing?</label><br><br>
            <input type="checkbox" id="motive5" name="vehicle1" value="Bike">
            <label for="motive5" class="motivesopt">Cheating on me… With my SISTER!!!</label><br><br>
            <input type="checkbox" id="motive6" name="vehicle1" value="Bike">
            <label for="motive6" class="motivesopt">Jealousy is a big issue… too big for comfort actually.</label><br><br>
            <input type="checkbox" id="motive7" name="vehicle1" value="Bike">
            <label for="motive7" class="motivesopt">Doesn’t do shit at home! All he says is: “I have to fix the GIT”.</label><br><br>
        </div>

        <a href="scenes.html"><button class="button">Motivos escolhidos?</button></a>

    <script>
        let motive1 = document.getElementById('motive1')
        if(motive1.is(":checked")){
            motive1 = 1;
            alert(motive1)
        } else{
            alert("shiiiit")
        }


    </script>
    </body>
</html>