body{
    background-color: #222;
}

#box{
    position: absolute;
    width: 55%;
    height:40%;
    top:27.5%;
    left:19%;
    background-color: red;
    color: white;
    text-align: center;
    padding:2%;
}


#UsernameTextBox{
    position: absolute;
    width:36%;
    height: 10%;
    left: 10%;
    top: 35%;
    border: none;
}

#PasswordTextBox{
    position: absolute;
    width:36%;
    height: 10%;
    left: 54%;
    top: 35%;
    border: none;
}

#FirstnameTextBox{
    position: absolute;
    width:36%;
    height: 10%;
    left: 10%;
    top: 50%;
    border: none;
}

#LastnameTextBox{
    position: absolute;
    width:36%;
    height: 10%;
    left: 54%;
    top: 50%;
    border: none;
}

#EmailTextBox{
    position: absolute;
    width:36%;
    height: 10%;
    left: 54%;
    top: 65%;
    border: none;
}

#PhoneTextBox{
    position: absolute;
    width:36%;
    height: 10%;
    left: 10%;
    top: 65%;
    border: none;
}
.btnLogin{
    position: absolute;
    width:80%;
    height: 10%;
    left: 10%;
    top: 80%;
    border: none;
    background-color: black;
    color: white;
}

