body{
    background-color: #222;
}

#textScene{
    position: absolute;
    top:12%;
    left:0%;
    width: 100%;
    text-align: center;
    color: white;

}

#container{
    position: absolute;
    top:25%;
    left:0%;
    width: 80%;
    height:100%;
    left:10%;
}

#container2{
    position: absolute;
    top:25%;
    left:0%;
    width: 80%;
    height:100%;
    left:10%;
}

.image{
    position: absolute;
    width: 30%;
    height:30%;
}

.image1{
    left:0%;
}

.image2{
    left:35%;
}

.image3{
    left:70%;
}

.image4{
    top: 50%;
    left:0%;
}

.image5{
    top: 50%;
    left:35%;
}

.image6{
    top: 50%;
    left:70%;
}

.button{
    position: absolute;
    width: 30%;
    height: 5%;
    border: none;
}

.button1{
    top: 35%;
    left: 0%;
}

.button2{
    top: 35%;
    left: 35%;
}

.button3{
    top: 35%;
    left: 70%;
}

.button4{
    top: 87%;
    left: 0%;
}

.button5{
    top: 87%;
    left: 35%;
}

.button6{
    top: 87%;
    left: 70%;
}

.preco{
    position: absolute;
    width: 30%;
    height: 5%;
    border: none;
    text-align: center;
    color: white;
}

.preco1{
    top: 31%;
    left: 0%;
}

.preco2{
    top: 31%;
    left: 35%;
}

.preco3{
    top: 31%;
    left: 70%;
}

.preco4{
    top: 82%;
    left: 0%;
}

.preco5{
    top: 82%;
    left: 35%;
}

.preco6{
    top: 82%;
    left: 70%;
}